#FlightDetail {
  z-index:1000;
  background-color: white;
  top:0; right:0; bottom:0; left:0;
  position: fixed;
  overflow: auto;
  margin-bottom: 40px;
}
.FlightDetail__dialog{
  height:100%;
  width:100%;
  position: absolute;
  background: #fff;
}
.FlightDetail__header {
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.29;
  padding: 16px 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
/* 모바일 사이즈 */

.FlightDetail__body {
  width: 100%;
  padding: 30px;
}

/* 태블릿 사이즈 */
@media (min-width: 768px) {
  .FlightDetail__body {
    margin: auto;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 58% 38%;
    grid-gap: 4%;
  }
}
/* 데스크탑 사이즈 */
@media (min-width: 1024px){
  .FlightDetail__body {
    width: 80%;
    grid-template-columns: 68% 28%;
  }
}
.FlightDetail__body .ticket {
  border: solid 1px rgb(197, 249, 179);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0 0 0;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap:15px;
  align-items: center;
}

.ticket .departure {
  text-align: right;
}
.ticket .departure p {
  color: grey;
  font-size: 25px;
}
.ticket .time p{
  margin: 0;
  text-align:center;
  font-size: 13px;
}
.ticket .arrival {
  text-align: left;
}
.ticket .arrival p{
  color:grey;
  font-size: 25px;
}

.fly {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 5px;
  align-items: center;
}
.fly hr {
   max-width: 100% !important;
   height: 2px;
   weight: 100px !important;
   border: 0;
   text-align: center;
   background-color: grey;
   -webkit-animation-name: animated-width;
   /* -webkit-animation-iteration-count: infinite; */
   -webkit-animation-direction: alternate;
   -webkit-animation-duration: 2.0s;
   -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes animated-width {
   from {
      width: 0%;
   }
   to {
      width: 100%;
   }
}
.moreDetail{
  padding:30px;
  border: dashed 1px rgb(197, 249, 179);
  border-radius: 10px;
}
.moreDetail .timeInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
}
.costInfo {
  margin: 3rem 0;
}

.readBeforeBooking {
  cursor: pointer;
  color: #35c235;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.readBeforeBooking__Toggle {
  font-size: 0.75rem;
  margin:1rem;
}
.book {
  position: relative;
}
.book :hover * {
  color: white;
}
.book:hover .overlay{
  height:100%;
}

.bookLink h2 {
  margin: 0;
  font-size: 1.8rem;
}
.bookLink {
  padding: 1rem 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.overlay{
  width: 100%;
  height: 0;
  position: absolute;
  background: linear-gradient(#80ffff, #8eff4d);
  /* background-color:  #35c235; */
  border-radius: 10px;
  opacity: 0.1;
  z-index: 10;
  cursor: pointer;
}
.planeInfo {
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 3rem;
  font-size: 1.3rem;
  color:grey;

}
.planeInfo img {
    margin-right: 1rem;
}
.waitTimeBox {
  display: flex;
  align-items: center;
  background: linear-gradient(#faffff, #fafff7);
  border-radius: 7px;
  margin-bottom: 3rem;
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  color: #e0554e;
  /* font-weight: ; */
}
.detailTimeInfo {
  font-size: 1.2rem;
  display: flex;
  margin-bottom: 2rem;
}

.detailTimeInfo .time {
  margin-left: 2rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailTimeInfo .duration {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: dimgrey;
}
