 .LoginModal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.LoginModal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.LoginModal-container {
  width: 50%;
  max-width: 550px;
  height: 65%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.LoginModal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.LoginModal-body {
  margin: 20px 0;
}

.LoginModal-default-button {
  float: right;
}


.LoginModal-enter {
  opacity: 0;
}

.LoginModal-leave-active {
  opacity: 0;
}

.LoginModal-enter .LoginModal-container,
.LoginModal-leave-active .LoginModal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* 내용 CSS */
.LoginModal-container * {
  box-sizing: border-box;
}

.LoginModal-container .user-modal {
  position: relative;
  margin: auto;
  width: 90%;
  max-width: 500px;
  background-color: #f6f6f6;
  cursor: initial;
}

.LoginModal-container .form-login,
.LoginModal-container .form-register,
.LoginModal-container .form-password {
  padding: 25px 25px 25px;
  display: none;
}

.LoginModal-container .form-login.active,
.LoginModal-container .form-register.active,
.LoginModal-container .form-password.active {
  display: block;
}

.LoginModal-container ul.form-switcher {
  margin: 0;
  padding: 0;
}

.LoginModal-container ul.form-switcher li a {
  width: 100%;
  display: block;
  height: 50px;
  line-height: 50px;
  color: #666666;
  background-color: #dddddd;
  text-align: center;
}

.LoginModal-container ul.form-switcher li a.active {
  color: #000000;
  background-color: #f6f6f6;
}

.LoginModal-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
  color: black;
}

.LoginModal-container input[type="submit"] {
  color: #f6f6f6;
  border: 0;
  margin-bottom: 0;
  background-color: #3fb67b;
  cursor: pointer;
}

.LoginModal-container input[type="submit"]:hover {
  background-color: #3aa771;
}

.LoginModal-container input[type="submit"]:active {
  background-color: #379d6b;
}

.LoginModal-container .links {
  text-align: center;
  padding-top: 25px;
}

.LoginModal-container .links a {
  color: #3fb67b;
}

.LoginModal-container input[type="submit"].disabled {
  background-color: #98d6b7;
}

li{
  list-style: none
}
