

.login-boxbox {
    /* display: flex; */
    /* flex-direction: column; */
    color: black;
}

.login-boxbox > p {
    position: absolute;
    top: 35%;
    /* right: 20%; */
    font-size: 1.25rem;
    font-weight: 600;
    /* width: 50% !important; */
}

.v-input--selection-controls__input {
    transform: scale(2) !important;
    margin-right: 30px;
}

.login-boxbox {
    margin-left: 20px;
}

.success--text, .caret-color {
    color: grey !important;
    caret-color: grey !important;
}

.v-input--selection-controls__input > label {
    /* font-size: 2rem !important; */
}